@model EChargerInternational.EChargerInternational.Atsiliepimas

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Atsiliepimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkAiksteleidAiksteleNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkAiksteleidAiksteleNavigation.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkKlientasidKlientasNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkKlientasidKlientasNavigation.Aprasymas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAtsiliepimas" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
