@model EChargerInternational.EChargerInternational.Skundas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skundas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusenaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusenaNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkKlientasidKlientas1Navigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkKlientasidKlientas1Navigation.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkKlientasidKlientasNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkKlientasidKlientasNavigation.Aprasymas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSkundas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
