@model IEnumerable<EChargerInternational.EChargerInternational.Skundas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aprasymas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusenaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkKlientasidKlientas1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkKlientasidKlientasNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aprasymas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusenaNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkKlientasidKlientas1Navigation.Aprasymas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkKlientasidKlientasNavigation.Aprasymas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSkundas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSkundas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSkundas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
